:root {
    --cor-principal: #262838;
    --cor-secundaria: #8ca11;
    --cor-destaque: #303f09;
}
body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
    margin: 2rem;
}
h1, h2, h3 {
    color: var(--cor-secundaria);
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffffef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Alinha o container do site */
.site-container {
    width: 100%;
    max-width: 1920px; /* Evita que o site estique demais em telas gigantes */
    display: flex;
    flex-direction: column;
}



